[submodule "MidiMashupper"]
	path = MidiMashupper
	url = https://github.com/ToBigsSound-1516/MidiMashupper.git
[submodule "WebDemo"]
	path = WebDemo
	url = https://github.com/ToBigsSound-1516/WebDemo.git
[submodule "MusicTransition"]
	path = MusicTransition
	url = https://github.com/ToBigsSound-1516/transition.git
